torch
torchvision
absl-py
blobfile
braceexpand
cachetools
certifi
charset-normalizer
click
contourpy
cycler
decorator
docker-pycreds
einops
exceptiongroup
filelock
fonttools
fsspec
ftfy
gitdb
GitPython
google-auth
google-auth-oauthlib
greenlet
grpcio
h5pickle
h5py
hjson
huggingface-hub
idna
importlib_metadata
importlib_resources
iniconfig
iopath
kiwisolver
lxml
Markdown
MarkupSafe
matplotlib
mup
mypy
mypy-extensions
ninja
oauthlib
obspy
packaging
pandas
pillow
platformdirs
pluggy
portalocker
protobuf
psutil
py-cpuinfo
pyasn1
pyasn1_modules
pycryptodomex
pydantic
pyparsing
pyre-extensions
pytest
python-dateutil
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
safetensors
scipy
seaborn
sentry-sdk
setproctitle
sh
six
smmap
SQLAlchemy
tensorboard
tensorboard-data-server
tensorboardX
thop
timm
tomli
tqdm
typing-inspect
typing_extensions
tzdata
urllib3
wandb
wcwidth
Werkzeug
zipp